.Footer{
    height: 50%;
    width: 100%;
    padding: 30px 40px;
    background: rgb(23, 23, 23);
}
.footer-main{
    width: 100%;
    height: 100%;
}
.footer-top{
width: 100%;
height: fit-content;
display: flex;
align-items: center;
justify-content: space-between;
/* border: 2px solid yellow; */
}
.footer-top-left{
    width: 50%;
    color: white;
    /* border: 1px solid red; */
    height: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 30px;
    
}
.footer-top-left a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.878);
    font-size: 18px;
}
.footer-top-left a:hover{
    text-decoration: none;
    color: white;
    font-size: 18px;
}
.footer-top-right{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: end;
}
.footer-top-right h1{
    font-size: 50px;
}
.footer-top-right h2{
    font-size: 40px;
    opacity: 0.9;
}
.footer-bottom img{
    width: 50px;
    margin: 1.5rem;
}
.footer-bottom {
    width: 100%;
    height: fit-content;
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
@media (max-width:829px){
    .footer-top-right h1{
        font-size: 2rem;
        
    }
    .footer-top-right h2{
        font-size: 1.5rem;
    }
}
@media (max-width:495px){

    .footer-top,.footer-bottom img{
        display: none;
    }
    .Footer{
        
        padding: 0px;
        height: fit-content;
    }
    .footer-bottom{
        padding: 1rem;
        
    }
    .footer-bottom p{
        text-align: center;
    }
}